{% extends "bootstrap/base.html" %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
{% block content %}
    <div class="container d-flex flex-row flex-wrap justify-content-center align-items-center text-center">

      <p> {{name}} </p>
      <p>  Base stats:   </p>
      <div class="container d-flex flex-row flex-wrap justify-content-center align-items-center text-center">

      {% for i in stats %}

        <p>
          {{i.stat.name}} : {{i.base_stat}}
        </p>
      {% endfor %}
    </div>

      {% for i in types %}
      <p> Type: {{i.type.name}} </p>

      {% endfor %}

      <p> Pics: </p>
      {% for i in sprites %}

      {% if i != None %}
          <img src={{i}}>
        {% endif %}
      {% endfor %}

      <p> {{weight}} pounds </p>



    </div>
{% endblock %}
